/* Remove default styling */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* inline-block allows padding to be clickable */
a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: .5em 1em;
}

a:hover {
    color: blue;
    cursor: pointer;
}

#logo {
    padding: .2em 0;
}

#logo > img {
    height: 2em;
    width: 12em;
}

#navContainer {
    background-color: #AAA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#leftNav {
    margin-left: 10px;
}

#rightNav {
    margin-right: 10px;
}

.listContainer {
    display: flex;
    align-items: center;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #AAA;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    border-top: solid black 2px;
}

#copyright {
    margin-left: 10px;
}

.footerLinks {
    display: flex;
}