#map {
    width: 90%;
    height: 500px;
}

.popups {
    max-width: 200px;
    font-family: fantasy;
    font-size: .9em;
    text-align: center;
}

#sidebar {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
}

.mapboxgl-marker-anchor-center {
    background-image: url('../assets/img/local_dining_white_24dp.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

svg {
    display: none;
}
