body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

    /* Custom Properties*/
    --bg-info: #cddeff;
    --text-info: #5754aa;
    --bg-success: #cff3da;
    --text-success: #0f6c36;
    --bg-warning: #fcfbc9;
    --text-warning: #867207;
    --bg-error: #fad3d7;
    --text-error: #821731;
}

div {
    display: flex;
    align-items: center;
    height: 30px;
    width: 80%;
    border: solid #d3d3d3 1px;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
}

.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    color: var(--text-warning);
    background-color: var(--bg-error);
}