/* Smaller height on mobile*/

#map {
    width: 100%;
    height: 400px;
    background-color: #292929;

}

/* Larger height on desktop*/
@media screen and (min-width: 992px) {
    #map {
        width: 100%;
        height: 600px;
    }
}

#main-container {
    position: relative;
    min-height: 100vh;
}


/* Set >= to the height of the footer */
main {
    padding-bottom: 2.5em;
}

/* Fixed to bottom */
footer {
    position: absolute;
    height: 2em;
    bottom: 0;
    width: 100%;
}

#current-weather {
    background-color: #292929;
}

#five-day-container {
    background-color: #292929;
}

#geocoder-search {
    display: flex;
    width: auto;
    justify-content: end;

}

.mapboxgl-ctrl-geocoder--input {
    background-color: #292929;
    border-radius: 10px;
    color: #FFF;
}

.mapboxgl-ctrl-geocoder {
    width: 500px;
    border: solid white 1px;
    border-radius: 10px;
}

#currentHILO-container {
    justify-content: center;
}